@use "sass:color";
/* ==========================================================================
   Variables
   ========================================================================== */

/* Typography */
$font-family-base: "Helia Core", Helvetica, Arial, sans-serif !default;

/* Colors */
$gray: #7a8288 !default;
$dark-gray: color.mix(#000, $gray, 50%) !default;
$darker-gray: color.mix(#000, $gray, 60%) !default;
$light-gray: color.mix(#fff, $gray, 50%) !default;
$lighter-gray: color.mix(#fff, $gray, 90%) !default;

$background-color: #f8fcff !default;
$code-background-color: #fafafa !default;
$code-background-color-dark: $light-gray !default;
$text-color: #195362 !default;
$muted-text-color: color.mix(#fff, $text-color, 30%) !default;
$border-color: $lighter-gray !default;
$form-background-color: $lighter-gray !default;
$footer-background-color: #f8f9fa !default;

$primary-color: #aadae6 !default;
$primary-color-rgb: rgb(170, 218, 230) !default;
$secondary-color: #6fb5c7 !default;
$secondary-color-dark: rgb(111, 181, 199) !default;
$success-color: #28a745 !default;
$warning-color: #ffc107 !default;
$danger-color: #dc3545 !default;
$info-color: $primary-color !default;
$focus-color: $primary-color !default;
$active-color: color.mix(#fff, $primary-color, 80%) !default;

// Links
$link-color: color.mix(#000, $info-color, 30%) !default;
$link-color-hover: color.mix(#000, $link-color, 25%) !default;
$link-color-visited: color.mix(#fff, $link-color, 15%) !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: color.mix(#000, $primary-color, 25%) !default;
$navicon-link-color-hover: color.mix(#fff, $primary-color, 75%) !default;

// Notices
$notice-background-mix: 80% !default;
$code-notice-background-mix: 90% !default;

// Responsive breakpoints
$breakpoint-xs: 0 !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1400px !default;

// Syntax Highlighting (base16)
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;

/* Breakpoints */
$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;

/* Grid */
$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;

/* Other */
$border-radius: 4px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;
$navicon-width: 1.5rem !default;
$navicon-height: 0.25rem !default;
$global-transition: all 0.2s ease-in-out !default;
$intro-transition: intro 0.3s both !default;